{% extends 'base.html.twig' %}

{% block title %}Hello ExerciseController!{% endblock %}

{% block body %}


    <div class="retobloque">

    {% for level in levels %}

        {% if app.user is null %}
            <a  class="retoque" href="{{ path('routine_exercises',{'id':level.id} )}}"><h1>{{ level.name}}</h1></a>
        {% else %}
            <a class="retoque" href="{{ path('routine_exercises',{'id':level.id} )}}"><h1>{{ level.name}}</h1><a class="rojo" href="{{ path('app_del',{'id':level.id,'user':app.user.id})}}">Eliminar</a></a>

        {% endif %}
        </div>

    {% endfor %}




{% endblock %}